body{
    background-color: #C1C1BF;
    color: blue;
}

.darkmode{
    background-color: white;
    color: black;
}

p{
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 5px;
}
.tittle{
    display: flex;
    justify-content: center;
}
h1{
    text-align: start;
    display: flex;
    justify-content: center;
}

.icons{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    align-items: center;
}
.stars{
    display: flex;
    justify-content: center;
    gap: 40px;    
    align-items: center;
}

.icons1{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    align-items: center;
}
.stars1{
    display: flex;
    justify-content: center;
    gap: 40px;    
    align-items: center;
}

span{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    position: relative;
    font-weight: bold;
}