body{
    background-color: #C1C1BF;
    color: blue;
}

.darkmode{
    background-color: white;
    color: black;
}


.note1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tittle{
    text-align: start;
}
h1{
    font-weight: bold;
}
h3{
    margin-top: -20px;    
}

p{
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-align: center;
    letter-spacing: 3px;
}

span{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    position: relative;
    font-weight: bold;
}