body{
    background-color: #C1C1BF;
    color: blue;
}

.darkmode{
    background-color: white;
    color: black;
}

.info{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: white;
    font-weight: bold;
    border-style: solid;
    background-color: #000166;
    border-style: solid;
    border-top: solid #a6a7fa;
    border-left: solid #a6a7fa;
    border-right: solid #010238;
    border-bottom: solid #010238;
}
.info_1{
    background-color: #9B0000;
    border-style: solid;
    border-top: solid #FFA8A7;
    border-left: solid #FFA8A7;
    border-right: solid #680000;
    border-bottom: solid #680000;
}
.info_2{
    background-color: #9B0000;
    border-style: solid;
    border-top: solid #FFA8A7;
    border-left: solid #FFA8A7;
    border-right: solid #680000;
    border-bottom: solid #680000;
    
}
.logo{
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.langs{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 17px;
    gap: 30px;
    margin-top: -10px;
}
.lang1{
    background-color: #C1C1BF;
    border-top: solid #F3F3F4;
    border-left: solid #F3F3F4;
    border-right: solid #52524F;
    border-bottom: solid #52524F;
}
.navbar2{
    font-size: 25px;   
    display: flex;
    justify-content: center;
    gap: 50px;
}

.bt1{
    border-style: solid;
    background-color: #C1C1BF;
    border-top: solid #F3F3F4;
    border-left: solid #F3F3F4;
    border-right: solid #52524F;
    border-bottom: solid #52524F;
}
.bt2{
    border-style: solid;
    background-color: #C1C1BF;
    border-top: solid #F3F3F4;
    border-left: solid #F3F3F4;
    border-right: solid #52524F;
    border-bottom: solid #52524F;
}
.bt3{
    border-style: solid;
    background-color: #C1C1BF;
    border-top: solid #F3F3F4;
    border-left: solid #F3F3F4;
    border-right: solid #52524F;
    border-bottom: solid #52524F;
}
.bt4{
    border-style: solid;
    background-color: #C1C1BF;
    border-top: solid #F3F3F4;
    border-left: solid #F3F3F4;
    border-right: solid #52524F;
    border-bottom: solid #52524F;
}
.bt5{
    border-style: solid;
    background-color: #C1C1BF;
    border-top: solid #F3F3F4;
    border-left: solid #F3F3F4;
    border-right: solid #52524F;
    border-bottom: solid #52524F;
}
.bt6{
    border-style: solid;
    background-color: #C1C1BF;
    border-top: solid #F3F3F4;
    border-left: solid #F3F3F4;
    border-right: solid #52524F;
    border-bottom: solid #52524F;
}




.ad1{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.intro{
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}
.rows{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}
.row1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}
.diver{
    border-style: solid;
    border-width: 1px;
    border-right: solid black;
    height: 550px;
}
.notes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.text{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: -40px
}
.row2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}



.block1{
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: #000166;
    border-style: solid;
    border-top: solid #a6a7fa;
    border-left: solid #a6a7fa;
    border-right: solid #010238;
    border-bottom: solid #010238;
}
.block2{
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: #9B0000;
    border-style: solid;
    border-top: solid #FFA8A7;
    border-left: solid #FFA8A7;
    border-right: solid #680000;
    border-bottom: solid #680000;
}

.booklist{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
    color: black;
}


.d_note1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40PX;
    gap: 20px;
}
.dtext1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}




.d_note2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    border-style: solid;
    background-color: #C1C1BF;
    border-top: solid #F3F3F4;
    border-left: solid #F3F3F4;
    border-right: solid #52524F;
    border-bottom: solid #52524F;
    background-color: white;
}

.notetxt{
    display: flex;
    flex-direction: column;   
    margin-left: 20px; 
    gap: 10px;
    color: black;
}
h4{
    font-size: 25px
}
.notep1{
    margin-top: -20px;
    font-size: 18px
}
.notep2{
    margin-top: -20px;
    font-size: 18px
}
.notep3{
    margin-top: -20px;
    font-size: 18px
}


span{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    position: relative;
    font-weight: bold;
}
